<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philipp.meetability" >


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material" >
        <activity
            android:name=".Aktivitys.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Aktivitys.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Aktivitys.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".viewpager.HistoryPageViewActivity"
            android:label="Historie"/>
        <activity
            android:name=".viewpager.ResultPageViewActivity"
            android:label="Suchergebnisse"/>
        <activity
            android:name=".Aktivitys.InitializeAktivity"
            android:label="@string/title_activity_activity_search" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Aktivitys.SearchActivity"
            android:label="Suchen" >
        </activity>
        <activity
            android:name=".Aktivitys.CreateActivity"
            android:label="Activity anlegen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Aktivitys.ProfilActivity"
            android:label="Profil" >
        </activity>
        <activity
            android:name=".Aktivitys.ReportActivity"
            android:label="@string/title_activity_activity_report">
        </activity>
        <activity
            android:name=".viewpager.CurrentActivitiesPageViewActivity"
            android:label="Bevorstehende Activities">
        </activity>
    </application>

</manifest>
